[2017-02-02 22:18] mmmavis opened #5 "Use `mofo-bootstrap` classes whenever we can"
Since we are using `mofo-bootstrap`, a lot of the custom CSS should be replaced by applying `mofo-bootstrap` classes to elements.

[2017-02-06 20:00] mmmavis opened #17 "Path bug in watch task"
[code]
We should be watching changes in all `.js` file under the `source/js` directory and `.scss` files under the `source/scss` instead. (not just files in the first level dir under it)

[2017-02-06 21:32] #17 closed

[2017-02-08 18:46] mmmavis opened #28 "Keep or remove`gh-pages` branch"
Hey @gvn ,

Since now we have Jenkins and S3 set up for staging: https://wirelesschallenge.mofostaging.net/ , should we keep the `gh-pages` branch? I think having the deployment code in the codebase doesn't hurt but having a`gh-pages` branch on a repo can be a bit confusing. People should check out the real staging instance instead and not `github.io`. What do you think? Oh and we probably should

[2017-02-08 19:47] ScottDowne commented on #28
Makes sense to me.

[2017-02-08 20:30] mehan opened #29 "Remove link to official rules for launch"
@ScottDowne We've decided to hold off on publishing the official rules on the site until the submission form goes live. Could you remove the "Rules and regulations" link from the footer for the time being? We'll want to re-add it eventually, once we swap out the events links for submission links. Thanks!

[2017-02-08 22:10] cadecairos opened #31 "Add CSP meta tag"
We've been asked to add a Content Security Policy for the site. Unfortunately, Cloudfront and S3 don't let us add Headers to responses, so we're going to have to use a `<meta>` tag.

Here's what the tag should be:

[code]

This should be the **first** tag in the `<head>` section of every HTML file we generate.

[2017-02-08 22:14] mmmavis commented on #31
@ScottDowne can u take this one? 😉

[2017-02-08 22:16] ScottDowne commented on #31
Yup. I can get to it tomorrow.

[2017-02-08 22:18] april commented on #31
Awesome, thanks much.  Note that the Observatory doesn't yet understand &lt;meta&gt; tags so don't panic if you get penalized for not having CSP.  It's an open bug:

https://github.com/mozilla/http-observatory/issues/105

[2017-02-09 07:29] mmmavis commented on #29
hey @mehan should we take that page down for now (`/rules-and-regulations` becomes a 404) or just remove link to it from site footer? I guess it's the latter, but I'd like to double check with you. 😉

/cc @ScottDowne

[2017-02-09 17:50] gvn commented on #28
Yeah, you can get rid of `gh-pages` on this repo. I'd suggest keeping the staging script because you can use it to stage your own personal build on your own fork (eg: `npm run stage mmmavis`) if you want to stage a feature you're working on for non-dev review.

[2017-02-09 21:58] ScottDowne commented on #29
The initial change has landed, however, the page is still available, we just don't link to it.

If we want it gone gone, we can.

[2017-02-09 22:06] mmmavis commented on #31
/cc @gvn we might want to do the same to [the Network site](https://github.com/mozilla/network)?

[2017-02-09 22:27] ScottDowne commented on #31
Live reload is causing issues with CSP. I'm working on a solution.

[2017-02-09 22:28] ScottDowne commented on #31
It's also failing the data uris in the footer icons.

[2017-02-09 22:40] cadecairos commented on #31
can we have these load over the network from the same domain?

[2017-02-09 22:41] ScottDowne commented on #31
Is the goal of making those data uris to reduce http requests?

[2017-02-09 22:45] cadecairos commented on #31
Reducing HTTP requests < disallowing inline data URIs

[2017-02-09 23:22] mmmavis commented on #31
Isn't live loading just for dev though? we aren't using it on staging or production.

[2017-02-09 23:23] mmmavis commented on #31
I guess we have to allow `data:` for `img-src` for the footer icons to show.

[2017-02-09 23:29] mmmavis commented on #31
@cadecairos is the expert on this. Maybe we should've not encoded SVGs in `mofo-bootstrap` since it would raise some security concerns? /cc @alanmoo @gvn

[2017-02-10 00:43] mehan commented on #29
@mmmavis @ScottDowne That's totally fine--all we need is to have the link removed. I can put some placeholder text on the rules page (i.e. "official rules will be published once submissions are open") just in case someone manages to find it. Thanks all!

[2017-02-10 14:27] ScottDowne commented on #31
[code]

Here are the actual error logs, for reference.

[2017-02-10 14:30] alanmoo commented on #31
Would it work if the images were base64 encoded instead?

[2017-02-10 14:48] april commented on #31
`img-src data:` should be perfectly safe to use  :)

[2017-02-10 14:49] april commented on #31
(it's `script-src data:`, `object-src data:` and to a lesser extent `style-src data:` that are more dangerous)

[2017-02-10 14:49] ScottDowne commented on #31
Yeah, I just came to that conclusion too.

[2017-02-10 14:49] ScottDowne commented on #31
@marumari Any thoughts on the script injected via live-server?

[2017-02-10 14:54] april commented on #31
Is the live server inline script identical every time?

[2017-02-10 15:18] ScottDowne commented on #31
Not sure. It's likely, but I cannot seem to find anything in their docs about overriding how it injects this nonsense.

https://www.npmjs.com/package/live-server

[2017-02-10 15:24] april commented on #31
Okay, gimme a bit and I'll figure it out for you.  :)

[2017-02-10 18:45] ScottDowne commented on #31
Closed in https://github.com/mozilla/nsf-challenge/pull/35

[2017-02-10 18:45] #31 closed

[2017-02-10 18:56] ScottDowne commented on #29
Closing.

[2017-02-10 18:56] #29 closed

[2017-02-11 19:25] ScottDowne opened #39 "Page structure changes possibly causing anchor links to not link to the proper location visually"
This is super weird. I noticed it last night, and only did a full bisect this morning because it was bugging me.

Bisect pointed to https://github.com/mozilla/nsf-challenge/commit/a5a4b298b8a8dbb3c9ff91edc2a21e41891807e8

STR:

1. Go to https://wirelesschallenge.mofostaging.net/
2. Click details in the nav
3. Do a hard refresh (ctrl+F5 for FF on Linux) See here for how to do this on other systems:

[2017-02-13 15:18] ScottDowne commented on #39
So, I may be wrong about the cause. It's something else. I don't understand yet, but if I go to master and remove the meta, problem persists. Might be multiple causes, and both need to be removed.

[2017-02-13 15:35] ScottDowne commented on #39
I was wrong. Borked the bisect somehow. Seems to be caused by https://github.com/mozilla/nsf-challenge/commit/48a66f73ea3999a7fe1bdc32ceb50d9a228e0182

Ignore all talks about CSP, no way that caused anything like this. (Would have been super weird if it did)

[2017-02-13 16:25] ScottDowne commented on #39
So after more debugging, I think this is caused by client side react. We're likely going to need to setup our own anchor scrolling of sorts...

[2017-02-13 16:30] april commented on #39
I can't seem to replicate this particular bug on my own system, if that's any help.

[2017-02-13 16:37] ScottDowne commented on #39
Yeah, this seems like a race condition, and I'm starting to get fairly inconsistent results, and it does some weird things. Hence why the bisect was so misleading.

Example, if I make the page width narrower, it seems to get away.

What I suspect is happening is after page load, we inject react client side, which changes page height, at the same time the browser starts to scroll to an anchor. Idea

[2017-02-13 17:18] april commented on #39
Okay, I'm going to unfollow this bug, but feel free to pull me back in if it somehow ends up being CSP related.  :)

[2017-02-14 16:19] mehan opened #40 "Add anchor links to challenge headers"
@ScottDowne The NSF wants to link to each challenge individually--could we maybe add anchor links to each of the challenge headers (see below)?

![screen shot 2017-02-14 at 8 18 09 am](https://cloud.githubusercontent.com/assets/1390212/22937752/59a75572-f28e-11e6-92ea-b9e7082d389c.png)

[2017-02-15 02:16] mehan opened #42 "Remove "information about teams" section"
This accordion section can be removed:

![screen shot 2017-02-14 at 6 14 47 pm](https://cloud.githubusercontent.com/assets/1390212/22958092/9f5ef55e-f2e1-11e6-8642-4e245fa0e44e.png)

cc @ScottDowne

[2017-02-16 06:12] mehan opened #44 "New text for header"
We need to make a few tweaks to the header text, based on some NSF feedback. The most important thing is that we're not allowed to use the world "initiative" (that word is, apparently, reserved only for White House programs?) so that needs to be scrubbed from the header. Here's how it appears now (text sections labelled for clarity):

![screen shot 2017-02-15 at 10 07 23 pm](https://cloud.githubus

[2017-02-16 06:16] mehan opened #45 "More padding needed"
After adding all of the text to the "details" section (i.e. the text sections that are hidden behind the accordion sliders), I noticed that each of those sections could probably use some more 'padding-bottom', as seen here:

![screen shot 2017-02-15 at 9 53 00 pm](https://cloud.githubusercontent.com/assets/1390212/23009686/35edba42-f3cc-11e6-9990-bac78e7f330e.png)

[2017-02-16 06:22] mehan opened #46 "Switching around of icons"
The NSF folks wanted to move around some of the bullet points under the judging criteria. We'll probably want to switch around these icons so that they match again--@kristinashu will probably know what the proper order should be but I'm guessing that the wallet is meant to go with "affordability," the medal is meant to go with "creativity," etc.

![screen shot 2017-02-15 at 9 52 36 pm](https://clo

[2017-02-16 16:19] kristinashu commented on #46
Here's how they should be connected:
![screen-shot-2017-02-16-at-8 14 18-am](https://cloud.githubusercontent.com/assets/1068783/23029807/90816e82-f420-11e6-88d2-89556181a1a2.jpg)

[2017-02-16 21:59] ScottDowne commented on #45
Agreed. Been meaning to clean this up.

[2017-02-17 17:08] ScottDowne commented on #40
@mmmavis and the plot thickens.

[2017-02-17 17:13] ScottDowne commented on #40
@mmmavis so either we close this, or I build it into https://github.com/mozilla/nsf-challenge/pull/25

It'll rely on checks I make in the above pull request to work, similar to the accordion.

[2017-02-17 22:57] #46 closed

[2017-02-17 22:59] #45 closed

[2017-02-17 23:02] #44 closed

[2017-02-18 00:53] mehan opened #53 "A few minor text tweaks"
Just want to make the following minor tweaks for the sake of consistency:

![screen shot 2017-02-17 at 3 26 48 pm](https://cloud.githubusercontent.com/assets/1390212/23088404/f95f8a72-f530-11e6-9723-59f5afd5c608.png)

"Challenges" should start with a capital "C".

![screen shot 2017-02-17 at 3 26 54 pm](https://cloud.githubusercontent.com/assets/1390212/23088412/0581090c-f531-11e6-8cc7-18fabbc2c90

[2017-02-20 22:45] mmmavis opened #55 "Add watch task for markdown files"

[2017-02-21 17:30] ScottDowne commented on #42
Merged.

[2017-02-21 17:30] #42 closed

[2017-02-21 17:57] hannahkane opened #57 "Remove email sign-up"
(Moving tickets over from [non-code repo](https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/), since it seems like people are working here now)

We've decided not to offer the email sign-up, at least initially.

- Remove "Sign up for an email reminder" sentence from hero.
- Remove email signup CTA in pre-footer, and I guess center the remaining CTA? cc @kristinashu

[2017-02-21 17:57] hannahkane commented on #57
From Kristina:

Two options:

Just centered it and put text onto one line.

<img width="1057" alt="screen shot 2017-02-17 at 3 31 16 pm" src="https://cloud.githubusercontent.com/assets/1068783/23087073/38894a7c-f526-11e6-8d69-6fd71fbca9b8.png">

Or put text and button onto one line, center them, and reduce purple background to about 140px in height.

<img width="1059" alt="screen shot 2017-02-17 a

[2017-02-21 18:00] hannahkane opened #58 "Link image credit to source"
The credit on the image we're using for the Raleigh event should link to the [source image](https://www.flickr.com/photos/bz3rk/7243110388/in/photolist-c33QnA-AUBT24-c33G5d-pAriiq-c33Gtq-pCs1jC-c33Ki7-pkZHtM-pkZfvj-pkYUUs-c33Gzm-c33J7u-2p9UiW-c33EA7-c33HXL-c33EdE-c33HNw-c33Fzo-c33Q5S-c33FFq-c33Jgd-c33Jph-fx8W1M-apyLRf-c33Ff3-c33Nfw-apw4Xa-apw2rr-apw46H-c33NFq-7tLsFL-c33Mnf-n3bDGZ-apyJpQ-apw5kR-7tL

[2017-02-21 18:02] hannahkane opened #59 "Add cc license"
Legal requests the addition of this sentence to the site. @kristinashu - thoughts on how to best integrate this into the footer?

"This website is licensed under a [Creative Commons license](https://creativecommons.org/licenses/by-sa/3.0/deed.en), excluding portions of the content attributed to third parties."

[2017-02-21 18:03] hannahkane commented on #59
From Kristina:

I guess stick it at the bottom...

<img width="1059" alt="screen shot 2017-02-17 at 3 37 10 pm" src="https://cloud.githubusercontent.com/assets/1068783/23087286/c9687814-f527-11e6-8aa8-9421aae7f127.png">

[2017-02-21 18:06] hannahkane opened #60 "add links to event pages"
Pending final details and links from @mehan

[2017-02-21 18:10] hannahkane opened #61 "page width"
Migrating from non-code repo, since we seem to be working here now. See [original ticket](https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/issues/28) for more discussion.

From Kristina:

The page width on staging is wider than in the comps. The issue with this is that the sentences become difficult to read because there are too many words per line.

Ideally, all the content

[2017-02-21 18:20] ScottDowne commented on #39
I ended up fixing this and landing it just now in https://github.com/mozilla/nsf-challenge/commit/b4085cc0fca39716eea4733da3ee901c35556aa6

This fix is a soft fix. I actually handle the position in which the next section is scrolled to half the page, so now it's no longer a problem if the page loads slightly in the wrong spot, because it has half a page in height buffer.

[2017-02-21 18:20] #39 closed

[2017-02-21 18:20] ScottDowne commented on #40
Landed in https://github.com/mozilla/nsf-challenge/commit/b4085cc0fca39716eea4733da3ee901c35556aa6

[2017-02-21 18:20] #40 closed

[2017-02-21 19:30] hannahkane commented on #58
On second thought, let's just use this image: https://en.wikipedia.org/wiki/Raleigh,_North_Carolina#/media/File:Downtown-Raleigh-from-Western-Boulevard-Overpass-20081012.jpeg, since it's in the public domain.

[2017-02-21 19:45] ScottDowne commented on #58
Closed https://github.com/mozilla/nsf-challenge/pull/64

[2017-02-21 19:45] #58 closed

[2017-02-21 19:58] kristinashu commented on #59
@hannahkane do we still need to add that line of text if we use the Raleigh image from wiki?

[2017-02-21 20:04] hannahkane commented on #59
@kristinashu - yeah, I believe so, since it's clarifying that the site itself has a CC license.

[2017-02-21 20:10] ScottDowne commented on #61
Fixed.

[2017-02-21 20:10] #61 closed

[2017-02-21 20:11] ScottDowne commented on #59
Fixed.

[2017-02-21 20:11] #59 closed

[2017-02-21 20:11] ScottDowne commented on #57
Fixed.

[2017-02-21 20:11] #57 closed

[2017-02-21 20:11] ScottDowne commented on #53
Fixed.

[2017-02-21 20:11] #53 closed

[2017-02-21 20:19] kristinashu commented on #59
@hannahkane so we can't just have the CC icon and link to https://creativecommons.org/licenses/by-sa/3.0/deed.en

Like we have on https://mozilla.github.io/mofo-bootstrap/demo/
<img width="1367" alt="screen shot 2017-02-21 at 12 16 56 pm" src="https://cloud.githubusercontent.com/assets/1068783/23183089/b14ed0d8-f82f-11e6-9f2a-00084d9ed4d8.png">

Sorry, it's totally fine to have that text at the bo

[2017-02-22 20:52] mehan commented on #60
@hannahkane @ScottDowne

https://ti.to/mozilla-nsf-wins/raleigh
https://ti.to/mozilla-nsf-wins/oakland
https://ti.to/mozilla-nsf-wins/boulder
https://ti.to/mozilla-nsf-wins/nyc

Also one other minor change: the date on the page for the Oakland event needs to change to **April 9th**.

[2017-02-24 01:04] mehan opened #69 "Judging criteria text misaligned"
In the latest version of the site on staging, the text to the right of each of the icons no longer lines up:

![screen shot 2017-02-23 at feb 23 5 02 23 pm](https://cloud.githubusercontent.com/assets/1390212/23286062/037fa33a-f9ea-11e6-8fff-fe2ce3f0b0bb.png)

[2017-02-27 21:54] mehan commented on #60
@ScottDowne Here are new links for the event registration forms.

Raleigh: https://docs.google.com/forms/d/e/1FAIpQLSd97uj6X64Yp0YyBsqgoJ9I72RStMeH6x_w36aS40PJYEcifQ/viewform

Oakland: https://docs.google.com/forms/d/e/1FAIpQLSe5UArgBjE_FohMl_2fyfIfygFDxuoWgxD1uyvrAedxErEVhA/viewform

Boulder: https://docs.google.com/forms/d/e/1FAIpQLScUKsFyozLBJQB4VIEwUQF4cMNlsae2cfkYtLblffyzy98ZMQ/viewform

NYC:

[2017-02-27 22:24] #69 closed

[2017-02-27 22:25] ScottDowne commented on #60
Updated in https://github.com/mozilla/nsf-challenge/commit/a2ca2c650da2e93affb05bc04c5bd738d45f251c

[2017-02-27 22:25] #60 closed

[2017-04-21 18:51] kristinashu opened #73 "Design updates based on feedback"
Update current design based on [new copy](https://docs.google.com/document/d/1f6YdVzGJ2_uj9ZI2ImjOgMjFL16ROHT7bSReKfxpuJE/edit?usp=sharing)

Changes will include:
- remove event section
- add email signup
- additional tab section
- new graph
- new icons
- create 2 PDFs
- possibly add photos

cc @hannahkane

[2017-04-21 19:04] kristinashu commented on #73
Timeline:
- copy should be finalized early next week
- I will finalize design by April 28
- @ScottDowne will start dev May 1
- launch May 5

[2017-04-26 02:50] hannahkane commented on #73
@kristinashu - is the timeline/flowchart included in your list above? Just checking.

[2017-04-26 21:47] kristinashu commented on #73
Still some polishing up to do but here is the initial comp with all the new updates: https://redpen.io/p/cx1e480fd9bb50a788

cc @jenntbeard @LindseyFrost @mehan

[2017-04-27 04:35] hannahkane commented on #73
Looks great, @kristinashu!

Are the pdf's on your list for Thursday?

[2017-04-27 20:40] kristinashu commented on #73
Yes! Here is the first PDF https://drive.google.com/open?id=0B2irLVDJivhLc1psTnVBZWxoVjA
I think there will be some copy changes but this gives a general layout. If everyone is happy with this direction then I'll do the other.

I've also made a few updates based on redpen feedback from Jenn https://redpen.io/p/cx1e480fd9bb50a788

[2017-04-27 21:36] hannahkane commented on #73
PDF looks good to me. :)

[2017-04-28 17:43] kristinashu commented on #73
I believe I've done everything I can do for now (although I expect some copy edits):
- comp is here: https://redpen.io/zt134841c7aa9c7b27
- PDFs are [here](https://drive.google.com/open?id=0B2irLVDJivhLSU40QXJTSEJ2SE0)
- assets for dev https://drive.google.com/open?id=0B2irLVDJivhLUE1oLWlFVXpLRUU

[2017-04-28 22:33] hannahkane opened #74 "Implement content and layout changes"
As discussed, we'll begin the implementation of the identified changes on Monday.

- comp is here: https://redpen.io/zt134841c7aa9c7b27
- PDFs are [here](https://drive.google.com/open?id=0B2irLVDJivhLSU40QXJTSEJ2SE0)
- assets for dev https://drive.google.com/open?id=0B2irLVDJivhLUE1oLWlFVXpLRUU
- copy is [here](https://docs.google.com/document/d/1f6YdVzGJ2_uj9ZI2ImjOgMjFL16ROHT7bSReKfxpuJE/edit)

[2017-04-28 22:35] hannahkane commented on #73
Awesome! Thanks, @kristinashu. I've filed an implementation ticket, so I'm closing this one.

@jenntbeard - please file any add'l content updates as separate tickets. Thank you!

[2017-04-28 22:35] #73 closed

[2017-04-30 14:07] jenntbeard commented on #73
Thank you!

[2017-05-01 17:49] kristinashu commented on #74
Let me know if you have any questions about this.

We has talked about possibly making this a multi page site but we should leave as a single page. It’s not so bad as is and there are too many legal/NSF constraints to change anything. You’ll just have to adjust the mobile version a little (reduce font size + line height and reduce padding).

Copy doc has all the URLs you'll need.

[2017-05-01 20:33] hannahkane opened #75 "Copy changes"
From @jenntbeard:

A few copy edits emerged from our back and forth w/NSF. They can be viewed through the tracked changes in this doc - https://docs.google.com/document/d/1f6YdVzGJ2_uj9ZI2ImjOgMjFL16ROHT7bSReKfxpuJE/edit#. Or, I have highlighted the individual changes below by section. Thanks!

Challenges Tab:
- Challenge 1 question statement is now - "How can we leverage wireless technology to ke

[2017-05-01 20:34] hannahkane commented on #75
@kristinashu - do you think we can use the same icons for the Judging criteria, given the label changes?

[2017-05-01 21:21] kristinashu commented on #75
I've updated the copy and the "scalability" icon (adaptability still works) https://redpen.io/zt134841c7aa9c7b27

[2017-05-03 17:07] jenntbeard opened #76 "Remove one judging criteria from WINS site"
Hi - we would like to remove the last judging criteria, labeled "New Work" (see below) from the site. (We have one more minor change (likely an added sentence to one of the FAQs) coming after the last bit of back and forth with NSF winds down.) :) Thanks!

REMOVE:
New Work:  Does the proposed solution consist of pre-existing technology already developed by the submitter, or will the Challenge prov

[2017-05-05 16:25] ScottDowne commented on #74
Staging is updated. https://wirelesschallenge.mofostaging.net/

All the content is updated, although some of the styling I didn't do yet if the previous styling still kinda worked.

I'm going to split it into content changes and style changes.

Updating content was a priority, and I figured styling could be done in another patch.

[2017-05-05 16:47] hannahkane commented on #74
@ScottDowne - rad! I just took a quick look and everything seems great so far. Will do a more in-depth review later.

@jenntbeard - are you able to take a look today or Monday as well?

[2017-05-05 17:10] jenntbeard commented on #74
Yes, taking a look now...

[2017-05-05 17:12] hannahkane commented on #75
@ScottDowne - seems like you did this, so closing

[2017-05-05 17:12] #75 closed

[2017-05-05 17:12] hannahkane commented on #76
@ScottDowne - seems like did this one as well, so closing

[2017-05-05 17:12] #76 closed

[2017-05-05 17:13] kristinashu commented on #74
This is awesome Scott! I know you haven't focused on design yet, but I've added a screen cap of the staging site to redpen with some styling comments https://redpen.io/gyc6d2abde19648369
It would be great to get some of this finessing done before you tackle the 'bigger' design updates, just in case we run out of time.

@jenntbeard, feel free to add any content comments to that redpen as well if th

[2017-05-05 17:18] jenntbeard commented on #74
This is awesome! I can't wait for @mehan to see it when he gets back on Monday. I will work on matching up the .pdf copy now @kristinashu in the original Gdoc (https://docs.google.com/document/d/1Ve4YazoUvF8kSogvqxTh5MmK59lxlNa8RARpM-SpfFo/edit).

[2017-05-05 17:48] jenntbeard commented on #74
Okay, all done with the .pdf reconciliation process. Thanks team!!

[2017-05-05 21:12] kristinashu commented on #74
Updated pdfs are here: https://drive.google.com/open?id=0B2irLVDJivhLZ2pTX2ZLUmtlS1E

If they look good to Mehan, then Scott can update the site. I'll be on PTO Monday but if they need any changes I will do them first thing Tues.

[2017-05-08 17:34] mehan commented on #74
@kristinashu @jenntbeard These look great! Really love the design and find them very easy to read and scan for information.

The only thing that stuck out to me is that there are some inconsistencies in the timeline on the second page of each PDF. It looks like the milestone for "Stage 1 prizes announced" should be January 2018, not January 2017. That would then push some of the later milestones i

[2017-05-08 18:07] jenntbeard commented on #74
Hmm, no updates with NSF on timeline that I'm aware of - the dates for that timeline image should match the dates in the content master doc - https://docs.google.com/document/d/1f6YdVzGJ2_uj9ZI2ImjOgMjFL16ROHT7bSReKfxpuJE/edit#. Thanks in advance for updating @kristinashu. Thanks all!

[2017-05-09 15:16] kristinashu commented on #74
Sorry for the typo, I've updated Jan 2017 to Jan 2018.

@ScottDowne please update the two PDFs with [these updated versions](https://drive.google.com/open?id=0B2irLVDJivhLZ2pTX2ZLUmtlS1E
). And the timeline images on the site to:

<img width="783" alt="nsf-timeline-desktop" src="https://cloud.githubusercontent.com/assets/1068783/25858006/83364036-348f-11e7-8821-82c29a4e5b25.png">
<img width="305"

[2017-05-09 15:26] jenntbeard commented on #74
@kristinashu These dates still don't match the master. The last three milestones should be June 2018, August 2018, and Summer 2018 (which is correct). Thanks!

The dates come from this copy (for reference):
Stage 1 Design Concepts submissions will be accepted from June 15, 2017 through November 15, 2017. Prizes and entrants eligible to compete in Stage 2 will be announced in January 2018.
Stage 2

[2017-05-09 15:44] kristinashu commented on #74
Ok updated, please [check them again](https://drive.google.com/open?id=0B2irLVDJivhLZ2pTX2ZLUmtlS1E
) 🤞

<img width="783" alt="nsf-timeline-desktop" src="https://cloud.githubusercontent.com/assets/1068783/25859400/490992b0-3493-11e7-9ea6-0a175e6c4860.png">
<img width="305" alt="nsf-timeline-mobile" src="https://cloud.githubusercontent.com/assets/1068783/25859401/4921770e-3493-11e7-99a0-9569f5165fe

[2017-05-09 15:49] jenntbeard commented on #74
Looks great to me, thanks!

[2017-05-09 17:02] ScottDowne commented on #74
Should be updated on staging now: https://wirelesschallenge.mofostaging.net/

[2017-05-10 21:34] mehan commented on #74
@kristinashu @ScottDowne Looks great on the PDFs, though I'm still seeing the incorrect dates on the timeline on the site itself. Not sure if this is just a local caching issue?

![screen shot 2017-05-10 at may 10 2 33 22 pm](https://cloud.githubusercontent.com/assets/1390212/25922348/beb4eece-358d-11e7-8795-83dd75ae2e1b.png)

[2017-05-12 21:09] mehan commented on #74
@kristinashu @ScottDowne Just noticed one other minor issue with the PDF for Challenge #2--it still says "call to action" on the first page, which looks like it's a placeholder:

![screen shot 2017-05-12 at 2 08 12 pm](https://cloud.githubusercontent.com/assets/1390212/26017070/9277fadc-371c-11e7-88ec-ab491b9c7d89.png)

[2017-05-12 21:53] kristinashu commented on #74
Ok, I've updated the PDF to just "How to get involved"

@ScottDowne I think I updated it here ok https://github.com/mozilla/nsf-challenge/tree/master/source/assets

[2017-05-15 16:58] ScottDowne commented on #74
Updated staging, if it all looks good, I can move it to prod. https://wirelesschallenge.mofostaging.net/

[2017-05-15 17:04] mehan commented on #74
@ScottDowne The last thing I'm seeing is that the timeline on the page still looks incorrect. It should be this one, which Kristina updated earlier:

![timeline](https://cloud.githubusercontent.com/assets/1068783/25859400/490992b0-3493-11e7-9ea6-0a175e6c4860.png)

[2017-05-15 17:45] ScottDowne commented on #74
I thought she already updated it? Let me take a closer look.

[2017-05-15 17:48] kristinashu commented on #74
I only updated the pdf. I didn't update the image within the site. You will both images in https://github.com/mozilla/nsf-challenge/issues/74#issuecomment-300206555

[2017-05-15 17:50] ScottDowne commented on #74
Yeah, see that now, updating.

[2017-05-15 17:53] ScottDowne commented on #74
OK, now try: https://wirelesschallenge.mofostaging.net/

[2017-05-15 17:56] mehan commented on #74
@ScottDowne Looks great! All set for launch, as far as I'm concerned. 👍🏽

[2017-05-15 17:57] hannahkane commented on #74
🚀 🚀 🚀

[2017-05-15 20:55] mehan commented on #74
Looks like the site is live! Thanks so much, @ScottDowne @kristinashu @hannahkane @jenntbeard and @mmmavis! Really appreciate all of your hard work on this site over the last few months. Thrilled with the result and to finally ship!

[2017-05-15 21:18] hannahkane commented on #74
Just FYI, the DNS settings were set today, and it can take up to 24 hours to propagate across the internet (meaning not everyone can necessarily see the content).

Apologies for not flagging this earlier.

[2017-05-15 21:27] mehan commented on #74
@hannahkane Ah okay, no worries--given that it's late in the day, we're probably not going to do much promotion around this until tomorrow anyway. Thanks!

[2017-05-16 23:22] mehan opened #84 "Timeline and Stage 1/2 containers collapse on mobile"
Screenshot was taken in Chrome for iOS. CC @ScottDowne

![img_5485](https://cloud.githubusercontent.com/assets/1390212/26132228/b376ff1e-3a53-11e7-8210-dee09d91cda8.PNG)

[2017-05-17 15:32] ScottDowne commented on #84
Fixing. It's actually also on Safari. Which chrome on iOS is actually just Safari.

[2017-05-17 15:52] mehan opened #86 "Site description is "TODO" on social"
Here's what it looks like when shared via Slack; I've been told it displays the same way in Facebook as well:

![screen shot 2017-05-17 at may 17 8 45 41 am](https://cloud.githubusercontent.com/assets/1390212/26163291/13d71814-3ade-11e7-9e33-7c11c5dfeecc.png)

[2017-05-17 16:06] ScottDowne commented on #84
Pushing up a fix now.

[2017-05-17 16:47] ScottDowne commented on #84
Should be live now.

[2017-05-17 16:47] #84 closed

[2017-05-17 16:50] ScottDowne commented on #86
Do we have copy for that? I can insert it once I have it.

[2017-05-17 16:56] ScottDowne commented on #86
We just need to make updates to here: https://github.com/mozilla/nsf-challenge/blob/master/source/pug/partials/header.pug#L9-L14

[2017-05-19 03:15] #86 closed

[2017-05-19 17:06] #74 closed

[2017-05-24 19:00] mehan opened #90 "New content for 6/15"
Hey @hannahkane @ScottDowne,

Not sure how much you guys discussed this with @jenntbeard but we're going to need to have a few minor things added to the site when the application cycle opens on 6/15. Here's what we need to add:

- Rules & Regulations: Scott already created a page for these, which pulls from a markdown file; once I have the language finalized, I can add and format it and send a pul

[2017-05-24 19:05] ScottDowne commented on #90
This all seems super easy from a dev point of view. Just let me know when the links/pull request/pdf is ready, and I can make these changes/merge any pull requests.

[2017-05-24 19:07] mehan commented on #90
Great, thanks @ScottDowne! Let me know if there's a date you guys want everything by in order to have the changes ready by 6/15 and I will make sure we get everything to you by then.

[2017-05-24 19:18] ScottDowne commented on #90
My guess is just have it done a few days lead time before you want it shipped, and we should be good. That said, sooner is always better ;).

[2017-05-24 19:20] mehan commented on #90
Cool, I will set 6/12 as the drop-dead date for having everything finalized but will definitely aim to get it to you sooner. Thanks!

[2017-06-08 16:33] kristinashu commented on #90
Mehan's suggestion to repurpose the "Submissions will be accepted..." bit below to link to the PDF and then the button could link to the Google Form sounds good to me. Just add a yellow underline to the PDF link.

[2017-06-13 00:45] mehan commented on #90
Hi @ScottDowne and @hannahkane,

Here is most of the content that we'll want to have added to the site for the 6/15 update:

- The [Intent to Apply Form](https://goo.gl/forms/19P9QlkLZ93NzgG13)
- The [Application guide PDF](https://github.com/mozilla/nsf-challenge/files/1069993/NSFWINSapplicationguide.pdf)

The text in the below screenshot should read "[Download the application guide] and begin yo

[2017-06-13 16:04] hannahkane opened #91 "Social graphics"
## Specs

We need social graphics to promote the call for submissions.
- [ ] 627x627
- [ ] 1024x512 (Twitter)
- [ ] 1200x717 (Facebook)

## Content
Use NSF logo and "powered by Mozilla" convention
Use full name of program: "Wireless Innovation for a Networked Society Challenges"
Submit by October 15
https://wirelesschallenge.mozilla.org

(@jenntbeard, can you please advise on the above? Given the

[2017-06-13 16:06] hannahkane commented on #91
@jenntbeard - can you also include information about your promotional plan, please - when do you need these by? thanks!

[2017-06-13 16:23] hannahkane commented on #90
Thanks, @mehan.

@ScottDowne - assigning to you and putting in the milestone that ends this Friday, for consistency with other projects, though the due date is earlier.

[2017-06-13 17:12] jenntbeard commented on #91
Hi, thanks! Yes, we are starting to promote now, but the letter of intent process will open on June 15, so having them on or around then would be ideal. I think adding "$2 million in prizes" would be an okay tagline - sound good to you @mehan?

Using a version of [this image](https://drive.google.com/open?id=0B1Tu07mQk89LX3Q0R1QzLU1JbVk) would be great - maybe extending the purple for white text o

[2017-06-13 20:36] ScottDowne commented on #90
@hannahkane just a status update. Main dev parts are done and on staging. We still need to figure out what the rules and regulations page, but it's all copy and going through legal and such process.

After chatting with @mehan about the dev parts, we decided to hold off putting this on prod until the day of, if possible, and keeping it on staging for now. I don't see much risk in that.

[2017-06-13 20:46] mehan commented on #90
Thanks, @ScottDowne! I'm working to finalize the rules & regs now and will aim to get you a PR by tomorrow at latest. Just a heads-up that a few things will be changing in the PDF as well, so we'll need to swap out that file for a newer version.

[2017-06-13 22:31] hannahkane commented on #91
cc @xmatthewx - anyone in mind to work on this early next week?

[2017-06-14 22:22] xmatthewx commented on #91
@flukeout - do you have time this week or early next week for some social graphics?

[2017-06-14 23:02] mehan commented on #90
Hey @ScottDowne @hannahkane,

I've got the final changes to the site for the 6/15 update ready:

- All the final rules & regulations language is in #94
- Here is the final version of the [Application Guide](https://github.com/mozilla/nsf-challenge/files/1076137/NSFWINSapplicationguide.pdf), which should replace the previous version (the latest version says v1.1 on the first page)

Once these chang

[2017-06-15 19:58] mehan opened #95 "Link highlighting in bottom 'more-info' container broken on mobile"
Screenshot was taken in iOS Chrome. The link works, though the yellow underline is not visible.

![unnamed 3](https://user-images.githubusercontent.com/1390212/27199257-3331c616-51ca-11e7-8c38-30d18fc26952.jpg)

[2017-06-15 20:43] ScottDowne commented on #95
Hm, I'm seeing it working on both android ff and iphone 6 and 6S plus with chrome.

[2017-06-15 22:26] mehan commented on #95
Interesting. I'm also on an iPhone 6--works in iOS Firefox but not Chrome.

[2017-06-16 23:06] hannahkane commented on #90
This is all on production now, right? Can we close this?

[2017-06-19 22:51] mehan commented on #90
@hannahkane yep, i believe so--gonna go ahead and close.

[2017-06-19 22:51] #90 closed

[2017-07-03 17:07] hannahkane commented on #28
@ScottDowne - can this ticket be assigned to you?

[2017-07-03 17:29] hannahkane commented on #95
I also can't reproduce on an iPhone 6 or 7 with Chrome.

[2017-07-06 17:21] hannahkane opened #97 "Add analytics"
Hey @gvn and @mmmavis - I know neither of you has been working on this site, but it's more related to the Network than Advocacy work, so I'm wondering if we can start transferring ownership from @ScottDowne to you two. It requires little maintenance at this point, though there will be some content changes in the future.

Right now we need to add analytics to the site so we can be capturing some me

[2017-07-06 19:09] gvn commented on #97
Sure, are we just adding stock GA?

I believe we'll need embed code from @vojtechmzl

[2017-07-06 21:34] vojtechsedlak commented on #97
Here is a standard container for a new GA property I just created. Let me know once it's added to the site and I can test that data is coming through. Thanks!
[code]

[2017-07-07 22:20] mehan commented on #95
Well, feel free to close this one if I'm the only person who's seeing it. 🙂

[2017-07-07 23:38] hannahkane commented on #95
But you're the most important user!

Is the underline visible in other links on the page - like the "34 million people" link in the first paragraph?

[2017-07-10 19:16] flukeout commented on #91
Working on it now.

[2017-07-10 19:45] flukeout commented on #91
Okay, here's the ``1200x717`` version. Please provide feedback on this, and I'll create the other two sizes. Thanks and sorry for the delay!

![nsf-challenge-1200x717](https://user-images.githubusercontent.com/25212/28036433-15a3e29e-656d-11e7-98a2-1af221d18a2d.png)

cc @jenntbeard @mehan

[2017-07-10 19:47] mehan commented on #91
@flukeout Looks great--thanks!

[2017-07-10 19:47] jenntbeard commented on #91
No worries, this looks perfect to me except that Challenge needs an 's' to emphasize that there are two of them. NSF will love their logo on it. Anything else, @Mehan? Thanks, @flukeout!

[2017-07-10 19:48] mehan commented on #91
@jenntbeard Ah, good catch Jenn!

[2017-07-10 20:36] flukeout commented on #91
@jenntbeard @mehan I made the other two sizes and put the banners and working files into [this folder on the drive](https://drive.google.com/drive/folders/0B_CPRh4f3yyqcnBnbXZfbTRLNGM?usp=sharing). Let me know if you need any changes or have trouble accessing anything.

Otherwise, let me know all is good and we can close this issue. Cheers.

[2017-07-10 20:37] jenntbeard commented on #91
Awesome sauce, thank you so much!!

[2017-07-10 20:38] mehan commented on #91
These all look great, many thanks, @flukeout!

[2017-07-10 20:41] flukeout commented on #91
No probs, closing!

[2017-07-10 20:41] #91 closed

[2017-07-10 20:47] mehan commented on #95
@hannahkane As it turns out, the link in question and all other links on the page now display correctly for me. It must just have been whatever outdated version of iOS Chrome I was using at the time. Thanks!

[2017-07-10 20:51] hannahkane commented on #95
ok, cool. closing then!

[2017-07-10 20:51] #95 closed

[2017-07-11 16:39] flukeout commented on #91
@jenntbeard @mehan Just a heads up that there was a typo in the ``1024x512`` banner in case you've already downloaded them. I've updated the banners in the folder.

[2017-07-11 18:14] mehan commented on #91
Thanks for the heads-up, @flukeout! Appreciate it.

[2017-07-11 21:43] alanmoo commented on #97
Don't forget do not track code. I believe @cadecairos has a gist up for that wrapper.

-Alan Mooiman,
Mozilla Foundation Engineering Manager
Eastern Daylight Time (USA) UTC-4

On Jul 6, 2017, 4:35 PM -0500, vojtech <notifications@github.com>, wrote:

[2017-09-06 16:01] mehan commented on #97
Hey @ScottDowne, @gvn and @mmmavis--what's the status on having GA added to this site?

[2017-09-06 16:57] ScottDowne commented on #97
I talked with Hannah, and I think I can do this today.

[2017-09-06 17:17] ScottDowne commented on #97
Pull request is here: https://github.com/mozilla/nsf-challenge/pull/98

@alanmoo @vojtechmzl

[2017-09-07 16:41] alanmoo commented on #97
Closed by #98

[2017-09-07 16:41] #97 closed

[2017-09-07 17:28] ScottDowne commented on #97
@vojtechmzl this has finally landed and is now live on production. Mind giving it a quick QA when you get a chance?

https://wirelesschallenge.mozilla.org/

[2017-09-07 17:46] vojtechsedlak commented on #97
Thanks @ScottDowne, data is flowing into GA and I tested the Do Not Track setup as well. All good here.

[2017-09-07 19:09] mehan commented on #97
Great, many thanks for helping get this set up, all!

[2017-10-02 16:48] mehan opened #99 "Update application guide PDF"
Hello @hannahkane! We've got a new version of our application guide that we'd love to have updated on the site. Here's the latest version of the PDF: [NSF WINS application guide.pdf](https://github.com/mozilla/nsf-challenge/files/1349625/NSF.WINS.application.guide.pdf)

Currently, the PDF is linked to [in the "Apply" section of the site.](https://wirelesschallenge.mozilla.org/#Apply) Thanks!

[2017-10-03 18:08] hannahkane commented on #99
@gvn - wondering if you have a few moments to make this update to the NSF WINS Challenge website?

[2017-10-03 18:58] gvn commented on #99
Sure I can take this

[2017-10-10 18:19] mehan commented on #99
@gvn @hannahkane Any update on when this will be live on production? Thanks!

[2017-10-10 20:10] gvn commented on #99
@ScottDowne This patch is landed. Are you able to deploy the site?

[2017-10-10 20:59] gvn commented on #99
@mehan Should be deployed to prod now. Can you verify?

[2017-10-10 21:22] mehan commented on #99
@gvn Yep, looks good. Thanks, all!

[2017-10-10 21:22] #99 closed

[2019-02-18 01:33] moz-hwine opened #106 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/nsf-challenge/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement

[2019-03-30 06:07] Mozilla-GitHub-Standards opened #107 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2022-01-21 18:43] #107 closed

[2022-01-21 18:43] #106 closed

[2022-01-21 18:43] #28 closed

[2022-01-21 18:43] #55 closed

[2022-01-21 18:43] #5 closed